body{
  height: 100%;
  text-align: center;
  font-size: smaller;
  
}


header{
  text-align: center;
  
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

a{
  padding: 0 10px;
  
}
 
div{
  background-color: red;
  text-align: center; 
  float: left;
  width: 25%;

}

#featured-property p{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 800px;
  
}

#details{
  display: block;
  text-align: center;
    
}